<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact me</title>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="contact.html">Facebook</a>
        <a href="">Google</a>
        <a href="">Twitter</a>
    </nav>

    <p>Vinod John</p>
    <p>Tallinn, Eesti.</p>


    <table border="1">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Vinod</td>
                <td>John</td>
                <td>20</td>
                <td rowspan="2">Tallinn</td>
            </tr>
            <tr>
                <td>Tony</td>
                <td>Stark</td>
                <td>24</td>
            </tr>
        </tbody>
    </table>


    <article id="news-flash">
        <header>Tallinn is snowing today!</header>
        <div>
            <p>
                The temperature has gone quite lower today.
            </p>
        </div>
        <footer>Updated 5 mins. ago</footer>
    </article>

    <section>

    </section>
</body>
</html>