<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vinod John">
    <meta name="description" content="My first HTML page">
    <meta  name="keywords" content="SDA, HTML, FirstPage">
    <title>First Page-Home</title>
</head>
<body>
    <div id="container">
        <div id="intro">
            <h1>About me</h1>
            <h3>About me</h3>
            <h6>About me</h6>
            <p><i>I'm a Java Developer.</i> <br/><br/> I love to code in <b>Java!</b></p>
            <p><strong>HTML is easy to learn.</strong></p>
            <p><u>CSS is also <span style="color:red;">easy!</span></u></p>
        </div>
        <div id="content-div">
            <img src="../content/images/programming-languages-shutterstock-1680857539.webp" alt="programing" width="100" height="200"/>
            <a href="https://err.ee"><img src="https://s.err.ee/photo/crop/2023/02/12/1784462he3eft21.jpg" alt="allika"/></a>
            <audio src=""></audio>
            <video src=""></video>

            <div id="links">
                <a href="contact.html" target="_blank">Contact</a>
                <a href="https://linkedin.com" target="_blank">LinkedIn</a>
            </div>
        </div>



        <br/>

        <ul>
            <li>Apple</li>
            <li>Orange
                <ol>
                    <li>It tastes good</li>
                    <li>It comes in different varieties.</li>
                </ol>
            </li>
            <li>Kiwi</li>
            <li>Mango</li>
        </ul>

        <ol>
            <li>Samsung</li>
            <li>Nokia
                    <ul>
                        <li>Connecting people.</li>
                        <li>Lasts longer.</li>
                    </ul>
            </li>
            <li>Sony</li>
            <li>Apple</li>
        </ol>
    </div>
</body>
</html>