<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User signup</title>
</head>
<body>
  <div id="register">
    <h3>Signup</h3>
      <p>Enter the details below:</p>
      <form id="signup" name="signup" method="post" action="index.html">
          <label for="first-name">First name: </label>
          <input name="first-name" id="first-name" type="text" />
          <br/><br/>
          <label for="last-name">Last name: </label>
          <input name="last-name" id="last-name" type="text" />
          <br/><br/>
          <label for="email">Email:</label>
          <input name="email" id="email" type="email" />
          <br/><br/>
          <label for="password">Password:</label>
          <input name="password" id="password" type="password" />
          <br/><br/>
          <label for="male">Gender:</label>
          <input type="radio" id="male" name="gender" /> Male
          <input type="radio" id="female" name="gender" /> Female
          <br/><br/>
          <input type="submit" value="Signup">
          <input type="reset" value="Clear form">
      </form>
  </div>
</body>
</html>